.horizontal-post-skeleton {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  width: Min(1000px, calc(100% - 2rem));
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.192);

  &__img {
    height: 350px;
    flex: 1 1 650px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: blueviolet;
    animation: fadeIn 2s linear infinite;
  }

  &__wrapper {
    flex: 1 1 350px;
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: space-between;
  }

  &__profile-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: blueviolet;
    animation: fadeIn 2s linear infinite;
  }

  &__user {
    width: 100%;
    height: 3rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    background-color: blueviolet;
    animation: fadeIn 2s linear infinite;
  }

  &__comments {
    overflow-y: auto;
  }
}

@keyframes fadeIn {
  0% {
    background-color: blueviolet;
  }
  50% {
    background-color: #8a2be270;
  }
  100% {
    background-color: blueviolet;
  }
}
