.horizontal-post {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  width: Min(1000px, calc(100% - 2rem));
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.192);

  &__img {
    height: 450px;
    flex: 1.5 1 500px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    @media (max-width: 881px) {
      border-radius: 5px;
    }
  }

  &__wrapper {
    flex: 1 1 350px;
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: space-between;
  }

  &__profile-img {
    width: 2.5rem;
    border-radius: 50%;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00000021;
    padding-bottom: 1em;
  }

  &__button {
    display: flex;
    padding: 0;
    background-color: transparent;
    width: 2rem;
    height: 2rem;

    svg {
      width: 1.5rem;
      color: #c4b5fd;
    }
    &:focus svg {
      color: #7c3aedb4;
    }
  }

  &__comments {
    overflow-y: auto;
    height: 14rem;

    @media (max-width: 881px) {
      height: 6rem;
    }
  }

  &__comment {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
