.button-like {
  transform: translateY(0.25rem);
  align-self: flex-end;
  background-color: transparent;
  display: grid;
  place-items: center;
  border-radius: 50%;
  padding: 0.25rem;

  &:focus {
    outline: blueviolet;
  }

  svg {
    width: 2rem;
    color: #c4b5fd;
    transition: all 350ms ease-out;
  }

  &:focus svg {
    transform: scale(1.1);
    color: #7c3aedb4;
  }
}
