.button-like {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  display: flex;
  padding: 0;

  svg {
    width: 2rem;
    color: #c4b5fd;
    transition: all 350ms ease-out;
  }

  &:focus svg {
    transform: scale(1.1);
    color: #7c3aedb4;
  }
}
